#include <windows.h>

1 RT_MANIFEST "HotDModManager\\HOTD_Tweaks.manifest"
5000 ICON "HotDModManager\\HOTD_Tweaks.ico"

4000 RCDATA "HotDPostFXShim\\D3D9.dll"
4001 RCDATA "dgVoodooBackend\\D3D9.dll"
4002 RCDATA "HotDModManager\\crosshair_patches.bin"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,7,0,0
 PRODUCTVERSION 1,7,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "HOTD Tweaks Project"
            VALUE "FileDescription", "House of the Dead: Overkill Tweaks"
            VALUE "FileVersion", "1.7.0"
            VALUE "InternalName", "House of the Dead: Overkill Tweaks"
            VALUE "OriginalFilename", "HotD-Tweaks.exe"
            VALUE "ProductName", "House of the Dead: Overkill Tweaks"
            VALUE "ProductVersion", "1.7.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
